@model Doicuuhomaytinh_CORE.Models.Menu

@{
    ViewData["Title"] = "Xóa Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="font-weight-bold text-success">Chấp nhận xóa Menu @Model.MenuTitle</h3>
        </div>
        <div class="card-body">
            <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr class="text-center">
                            <th scope="col" style="width:100px">MenuID</th>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col" style="width:100px">Trạng thái</th>
                            <th scope="col" style="width:100px">Cấp </th>
                            <th scope="col" style="width:100px">Menu cha</th>
                            <th scope="col" style="width:100px">Sắp xếp</th>
                            <th scope="col" style="width:100px">Vị trí</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td style="width:100px">@Model.MenuId</td>
                            <td class="jsgrid-cell jsgrid-align-center">@Model.MenuTitle</td>
                            <td style="width:100px">
                                @if (Model.Active == true)
                                {
                                    <input type="checkbox" checked>
                                }
                                else
                                {
                                    <input type="checkbox">
                                }
                            </td>
                            <td style="width:100px">@Model.Levels</td>
                            <td style="width:100px">@Model.ParentId</td>
                            <td style="width:100px">@Model.MenuOrder</td>
                            <td style="width:100px">@Model.Position</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-between">
                    <a asp-action="" class="btn px-4 bg-gradient-success mt-4 float-right text-white font-weight-600">Trở lại</a>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="MenuId" />
                        <input type="submit" value="Xóa" class="btn btn-danger mt-3 px-4" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>










