@model Doicuuhomaytinh_CORE.Models.Menu

@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="font-weight-bold text-success ">Chi tiết</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                    <table class="jsgrid-table">
                        <tr class="jsgrid-header-row">
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:100px">MenuID</th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable">Tiêu đề</th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:100px">Trạng thái</th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:100px">Cấp </th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:100px">Menu cha</th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:100px">Sắp xếp</th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:100px">Vị trí</th>
                            <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable">Tác vụ</th>
                        </tr>
                    </table>
                </div>
                <div class="jsgrid-grid-body" style="height: 821px;">
                    <table class="jsgrid-table">
                        <tbody>
                                <tr class="jsgrid-row">
                                    <td class="jsgrid-cell jsgrid-align-center" style="width:100px">@Model.MenuId</td>
                                    <td class="jsgrid-cell jsgrid-align-center">@Model.MenuTitle</td>
                                    <td class="jsgrid-cell jsgrid-align-center" style="width:100px">
                                    @if (Model.Active == true)
                                    {
                                        <input type="checkbox" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox">
                                    }
                                    </td>
                                    <td class="jsgrid-cell jsgrid-align-center" style="width:100px">@Model.Levels</td>
                                    <td class="jsgrid-cell jsgrid-align-center" style="width:100px">@Model.ParentId</td>
                                    <td class="jsgrid-cell jsgrid-align-center" style="width:100px">@Model.MenuOrder</td>
                                    <td class="jsgrid-cell jsgrid-align-center" style="width:100px">@Model.Position</td>
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <div class="d-flex align-items-center justify-content-around">
                                            <a asp-action="Edit" asp-route-id="@Model.MenuId" class="btn w-25 bg-gradient-info">Chỉnh sửa</a>
                                            <a asp-action="Delete" asp-route-id="@Model.MenuId" class="btn w-25 bg-gradient-danger">Xóa</a>
                                        </div>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                    <a asp-action="Index" class="btn px-4 bg-gradient-success mt-4 float-right text-white font-weight-600">Trở lại</a>

                </div>
                <div class="jsgrid-pager-container">
                    <div class="jsgrid-pager">Pages: <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">First</a></span> <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">Prev</a></span> <span class="jsgrid-pager-page jsgrid-pager-current-page">1</span><span class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">4</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span> <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Next</a></span> <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Last</a></span> &nbsp;&nbsp; 1 of 5 </div>
                </div>
                <div class="jsgrid-load-shader" style="display: none; position: absolute; inset: 0px; z-index: 1000;"></div>
                <div class="jsgrid-load-panel" style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please, wait...</div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

