@model IEnumerable<Doicuuhomaytinh_CORE.Models.Menu>

@{
    ViewData["Title"] = "Quản lý Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="font-weight-bold text-success ">Quản lý Menu</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <table class="table table-bordered table-white">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">MenuID</th>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Cấp </th>
                            <th scope="col">Menu cha</th>
                            <th scope="col">Sắp xếp</th>
                            <th scope="col">Vị trí</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@item.MenuId</td>
                                <td>@item.MenuTitle</td>
                                <td>
                                    @if (item.Active == true)
                                    {
                                        <input type="checkbox" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox">
                                    }
                                </td>
                                <td>@item.Levels</td>
                                <td>@item.ParentId</td>
                                <td>@item.MenuOrder</td>
                                <td>@item.Position</td>
                                <td>
                                    <div class="row align-items-center justify-content-around">
                                        <a asp-action="Edit" asp-route-id="@item.MenuId" class="col-xl-5 col-12 btn mb-3 mb-xl-0  bg-gradient-info font-weight-bold">Chỉnh sửa</a>
                                        <div class="col-xl-2 col-0"></div>
                                        <a asp-action="Delete" asp-route-id="@item.MenuId" class="col-xl-5 col-12 btn bg-gradient-danger font-weight-bold">Xóa</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Create" class="btn btn-primary px-4 mt-4 float-right font-weight-bold">Thêm mới</a>
                
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
@*

*@