@model Doicuuhomaytinh_CORE.Models.Category

@{
    ViewData["Title"] = "Xóa Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="font-weight-bold text-success">Chấp nhận xóa Danh mục @Model.CateName</h3>
        </div>
        <div class="card-body">
            <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <table class="table table-bordered table-white">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">CateID</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên Danh mục</th>
                            <th scope="col">Ordering </th>
                            <th scope="col">Parent</th>
                            <th scope="col">Level</th>
                            <th scope="col">Mô tả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td style="width:100px">@Model.CateId</td>
                            <td>
                                <img class="img-fluid rounded" width="150" src="~/images/category/@Model.Thumb">
                            </td>
                            <td>@Model.CateName</td>
                            <td style="width:100px">@Model.Ordering</td>
                            <td style="width:100px">@Model.Parent</td>
                            <td style="width:100px">@Model.Levels</td>
                            <td style="width:400px">@Model.Description</td>

                        </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-between">
                    <a asp-action="" class="btn px-4 bg-gradient-success mt-4 float-right text-white font-weight-bold">Trở lại</a>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CateId" />
                        <input type="submit" value="Xóa" class="btn btn-danger mt-3 px-4 font-weight-bold" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
